{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data" class="w-full max-w-sm mx-auto md:max-w-md lg:max-w-lg text-center">
  {% csrf_token %}
  <div class="mb-4">
    {{ form.title|add_class:"appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"placeholder:相談タイトル" }}
    {% if form.title.errors %}
      <span class="text-red-500 text-xs italic">{{ form.title.errors.as_text }}</span>
    {% endif %}
    {% if form.title.help_text %}
      <small class="text-gray-600">{{ form.title.help_text }}</small>
    {% endif %}
  </div>

  {% if form.file %}
    <div class="mb-4">
      {{ form.file|add_class:"appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
      {% if form.file.errors %}
        <span class="text-red-500 text-xs italic">{{ form.file.errors.as_text }}</span>
      {% endif %}
      {% if form.file.help_text %}
        <small class="text-gray-600">{{ form.file.help_text }}</small>
      {% endif %}
    </div>
  {% endif %}

  <div class="mb-4">
    {{ form.checklist|add_class:"appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"placeholder:相談の詳細" }}
    {% if form.checklist.errors %}
      <span class="text-red-500 text-xs italic">{{ form.checklist.errors.as_text }}</span>
    {% endif %}
    {% if form.checklist.help_text %}
      <small class="text-gray-600">{{ form.checklist.help_text }}</small>
    {% endif %}
  </div>

    <div class="flex gap-4 justify-end">
      <a href="javascript:history.back()"
        class="inline-flex items-center text-sm font-semibold px-2 py-1 text-white bg-gray-400 border-2 border-gray-400 rounded-full hover:text-gray-400 hover:bg-white inline-flex items-center">
        <i class="fa-solid fa-arrow-left fa-sm mr-2"></i>
        戻る
      </a>
      {% if is_edit %}
        <input type="submit" value="更新" class="inline-block font-semibold px-3 py-2 text-white bg-green-400 border-2 border-green-400 rounded-full hover:text-green-400 hover:bg-white" />
      {% else %}
        <input type="submit" value="登録" class="inline-block bg-yellow-200 text-white font-semibold py-2 px-4 rounded-full hover:bg-yellow-300"/>
      {% endif %}
    </div>



</form>
