{% load widget_tweaks %}
<form method="post" class="w-1/4 mx-auto mt-16 text-center">
  {% csrf_token %}
  {% if form_type == 'signup' %}
    <p>
      {{ form.username }}
      {% if form.username.errors %}
        <span class="error">{{ form.username.errors.as_text }}</span>
      {% endif %}
      {% if form.username.help_text %}
        <small>{{ form.username.help_text }}</small>
      {% endif %}
    </p>
    <p>
      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
      {% if form.email.errors %}
        <span class="error">{{ form.email.errors.as_text }}</span>
      {% endif %}
      {% if form.email.help_text %}
        <small>{{ form.email.help_text }}</small>
      {% endif %}
    </p>
    <p>
      <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <span class="error">{{ form.password1.errors.as_text }}</span>
      {% endif %}
      {% if form.password1.help_text %}
        <small>{{ form.password1.help_text }}</small>
      {% endif %}
    </p>
    <p>
      <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <span class="error">{{ form.password2.errors.as_text }}</span>
      {% endif %}
      {% if form.password2.help_text %}
        <small>{{ form.password2.help_text }}</small>
      {% endif %}
    </p>
  {% elif form_type == 'login' %}
    <div class="mb-4">
      {{ form.username|add_class:"appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"|attr:"placeholder:ユーザ名" }}
      {% if form.username.errors %}
        <span class="text-red-500 text-xs italic">{{ form.username.errors.as_text }}</span>
      {% endif %}
      {% if form.username.help_text %}
        <small class="text-gray-600">{{ form.username.help_text }}</small>
      {% endif %}
    </div>
    <div class="mb-4">
      <div class="relative">
        {{ form.password|add_class:"appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline pr-10"|attr:"placeholder:パスワード" }}
        <span class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer" onclick="togglePasswordVisibility()">
          <i id="eye-icon" class="far fa-eye-slash text-gray-500"></i>
        </span>
      </div>
      <p class="mt-4 text-right">
          <a href="{% url 'password_reset' %}" class="text-xs text-gray-600 hover:text-gray-800 underline">パスワードを忘れた場合</a>
      </p>      
      {% if form.password.errors %}
          <span class="text-red-500 text-xs italic">{{ form.password.errors.as_text }}</span>
      {% endif %}
      {% if form.password.help_text %}
          <small class="text-gray-600">{{ form.password.help_text }}</small>
      {% endif %}
    </div>     
  {% elif form_type == 'password_change' %}
    <p>
      <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
      {{ form.old_password }}
      {% if form.old_password.errors %}
        <span class="error">{{ form.old_password.errors.as_text }}</span>
      {% endif %}
      {% if form.old_password.help_text %}
        <small>{{ form.old_password.help_text }}</small>
      {% endif %}
    </p>
    <p>
      <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
      {{ form.new_password1 }}
      {% if form.new_password1.errors %}
        <span class="error">{{ form.new_password1.errors.as_text }}</span>
      {% endif %}
      {% if form.new_password1.help_text %}
        <small>{{ form.new_password1.help_text }}</small>
      {% endif %}
    </p>
    <p>
      <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <span class="error">{{ form.new_password2.errors.as_text }}</span>
      {% endif %}
      {% if form.new_password2.help_text %}
        <small>{{ form.new_password2.help_text }}</small>
      {% endif %}
    </p>
  {% elif form_type == 'password_reset' %}
    <p>
      <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
      {{ form.email }}
      {% if form.email.errors %}
        <span class="error">{{ form.email.errors.as_text }}</span>
      {% endif %}
      {% if form.email.help_text %}
        <small>{{ form.email.help_text }}</small>
      {% endif %}
    </p>
  {% endif %}
  <input type="submit" value="{{ submit_label }}" class="w-full bg-gray-500 text-white font-bold py-2 px-4 rounded" />
  <p class="mt-4 text-right">
    <a href="{% url 'signup' %}" class="text-xs text-gray-600 hover:text-gray-800 underline">新規登録はこちら</a>
  </p>  
</form>

<script>
  function togglePasswordVisibility() {
    const passwordField = document.querySelector('input[name="password"]');
    const eyeIcon = document.getElementById('eye-icon');

    if (passwordField.type === 'password') {
        passwordField.type = 'text';
        eyeIcon.classList.remove('fa-eye-slash');
        eyeIcon.classList.add('fa-eye');
    } else {
        passwordField.type = 'password';
        eyeIcon.classList.remove('fa-eye');
        eyeIcon.classList.add('fa-eye-slash');
    }
  }
</script>