{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT CHECKER</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- tailwindcss -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %" /> -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!-- モリサワフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <!-- ナビゲーションバー -->
  {% block nav %}
    <nav class="w-full top-0 text-white bg-yellow-200">
      <!-- 左のアイコンとタイトル -->
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4">
        <div class="pl-4 flex items-center">
          <a class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="{% url 'index' %}">
            <i class="fa-solid fa-check h-8 inline"></i>
            RENT CHECKER
          </a>
        </div>
        <!-- ハンバーガーメニュー -->
        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center p-1 text-white-800">
            <i class="fa-solid fa-bars h-8 w-8"></i>
          </button>
        </div>
      </div>
      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>
  {% endblock nav %}
  {% block main %}
    <p>※コンテンツがありません。</p>
  {% endblock %}
</body>
</html>