{% extends "registration/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/form.css' %}">
  {{ block.super }}
{% endblock %}

{% block main %}
  <div class="text-gray-500 w-full max-w-md mx-auto text-center mt-24">
    <h1 class="text-gray-600 text-2xl font-semibold">ログイン</h1>
  </div>
  <div class="w-full max-w-md mx-auto mt-8">
    {% include "registration/_form.html" with submit_label="ログイン" form_type="login" %}
  </div>
  <p class="w-full max-w-md mx-auto text-right mt-4">
    <a href="{% url 'signup' %}" class="text-xs text-gray-600 hover:text-gray-800 underline">新規登録はこちら</a>
  </p>
{% endblock %}
