{% extends "registration/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/form.css' %}">
  {{ block.super }}
{% endblock %}

{% block main %}
  <div class="w-1/2 mx-auto text-center mt-20">
    <h1 class="text-2xl">ログイン</h1>
  </div>
  {% include "registration/_form.html" with submit_label="ログイン" form_type="login" %}
  <p class="w-1/4 mx-auto text-right">
    <a href="{% url 'signup' %}" class="text-xs text-gray-600 hover:text-gray-800 underline">新規登録はこちら</a>
  </p>
{% endblock %}
