Django
psycopg2-binary
uvicorn
python-dotenv
django-environ
openai==0.28
channels
redis 
daphne            
channels
channels-redis

# langchain
# langchain-community
# langchain-core
# langchainhub
# langchain-openai
# langchain_chroma
# bs4
