Django
django-widget-tweaks
psycopg2-binary
uvicorn
python-dotenv
django-environ
markdown
openai
channels
redis 
daphne            
channels
channels-redis
langchain
pymupdf
pgvector
langchain-community
langchain-core
langchainhub
tiktoken
faiss-cpu
pytesseract
Pillow
