{% extends "app/base.html" %}
{% load static %}

{% block nav %}
{% endblock nav %}

{% block main %}
<!-- ナビゲーションバー -->
{% include "app/navi.html" %}

<!-- フォーム -->
{% block content %}
  <section class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <div class="flex flex-wrap">
        <div class="w-5/6 sm:w-1/2 p-6">
          <h1 class="my-4 text-5xl font-bold leading-tight">お問い合わせ</h1>
          <p>お問い合わせフォームです。下記のフォームにご記入ください。</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-yellow-200 hover:bg-yellow-300 text-white font-bold py-2 px-4 rounded-lg shadow-md">送信</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
  <!--Footer-->
  {% include "app/footer.html" %}
  {% endblock main %}