{% extends "app/base.html" %}
{% load static %}

{% block nav %}
{% endblock nav %}

{% block main %}
<!-- ナビゲーションバー -->
{% include "app/navi.html" %}

<!-- フォーム -->
<div class="min-h-screen flex flex-col">
  <div class="flex-grow">
    {% block content %}
    <div class="pt-24">
      <div class="container px-3 mx-auto flex-wrap flex-col md:flex-row items-center">
        
        <!--ここを埋める-->
      
      </div>
    </div>
    {% endblock %}
  </div>
  <!--Footer-->
  {% include "app/footer.html" %}
</div>
{% endblock main %}