{% extends "app/base.html" %}
{% load static %}

{% block nav %}
{% endblock nav %}

{% block main %}
<!-- ナビゲーションバー -->
{% if user.is_authenticated %}
  {% include "app/navi_log.html" %}
{% else %}
  {% include "app/navi.html" %}
{% endif %}

<!-- フォーム -->
<div class="min-h-screen flex flex-col lg:flex-row">
  {% block content %}
  <div class="lg:w-3/5 w-full px-7 pt-24">
    
    <!--ここから書く-->

  </div>
  <!--生成系AIの部分-->
  {% include "app/ai.html" %}
</div>
{% endblock content %}

<!--Footer-->
{% include "app/footer.html" %}
{% endblock main %}