<div class="w-1/4 border-r border-gray-200 overflow-y-auto"> 
    <div class="container flex justify-center text-gray-500 bg-gray-100 py-4 pl-8">
        <h1 class="mr-4">履歴</h1>
    </div>
    <ul class="bg-gray-100 text-gray-500">
        {% for room_log in room_logs %}
            <li class="text-center">
                <a href="#" onclick="navigateToChat('{{ consultation.room_link }}')" class="block">
                    {{ room_log.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
function navigateToChat(roomLink) {
    const roomName = roomLink.split('/').filter(Boolean).pop();
    const ws = new WebSocket('ws://' + window.location.host + '/ws/consultation/' + roomName + '/');
    window.location.href = '/consultation/' + roomName + '/';
}
</script>
