{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT CHECKER</title>

    <!-- ファビコン -->
    <link rel="icon" type="image/png" href="{% static 'app/img/favicon.png' %}">
    <!-- tailwindcss -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %" /> -->
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!-- モリサワフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
  {% endblock %}
</head>
<body class="leading-normal tracking-normal text-black bg-yellow-200">
  <!-- ナビゲーションバー -->
  {% block nav %}
  {% endblock nav %}
  {% block main %}
    <p>※コンテンツがありません。</p>
  {% endblock main %}
</body>
</html>
