{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT CHECKER</title>

    <!-- tailwindcss -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %" /> -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <!-- モリサワフォント -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap" rel="stylesheet">
  {% endblock %}
</head>
<body class="">
  {% block nav %}
  <nav>
    <a href="{% url 'index' %}">RENT CHECKER</a>
    <div>
      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
      </form>
      <a href="{% url 'password_change' %}">パスワード変更</a>
    </div>
  </nav>
  {% endblock nav %}
  <div>
    {% block main %}
      <p>※コンテンツがありません。</p>
    {% endblock main %}
  </div>
</body>
</html>
