{% extends "app/base.html" %}
{% load static %}

{% block head %}
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    {{ block.super }}
{% endblock %}

{% block main %}
    <div class="flex h-screen overflow-hidden">
        <!-- サイドバー -->
        {% include "app/_sidebar.html" %}

        <!-- メインチャットコンテンツ -->
        <div class="flex-1 flex flex-col bg-white overflow-hidden shadow-md" hx-ext="ws" ws-connect="/ws/chat/{{ room_name }}/">
            <!-- ナビゲーションバー -->
            {% include "app/_navigation.html" %}

            <!-- チャット履歴の表示 -->
            <div id="message-list" class="p-6 flex-1 overflow-y-scroll">
                {% for log in chat_logs %}
                    <div class="mb-4">
                        <!-- 質問のスタイル -->
                        <div class="mt-1 bg-gray-100 rounded-lg px-4 py-2 text-gray-500 text-right border-r border-yellow-200" style="border-right-width: 5px;">
                            <strong>{{ log.created_at|date:"Y-m-d H:i" }}</strong><br>
                            <span class="text-gray-500">{{ log.prompt }}</span>
                        </div>
                        <!-- 返信のスタイル -->
                        <div class="mt-1 bg-gray-100 rounded-lg px-4 py-2 text-gray-500 text-left border-l border-yellow-200" style="border-left-width: 5px;">
                            <em class="text-gray-500">{{ log.response }}</em>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- チャット入力フォームと画像アップロードフォーム -->
            <div class="border-t-2 border-gray-200 px-4 py-4 mx-2">
                <form id='chat-form' class="relative flex items-center" hx-ext="ws" ws-send>
                    <!-- チャット入力フィールド -->
                    <div class="relative flex-1">
                        <!-- 画像アップロードアイコン -->
                        <label for="image-upload" class="absolute inset-y-0 left-0 flex items-center pl-3 cursor-pointer">
                            <i class="fa-solid fa-image text-gray-500 hover:text-gray-800"></i>
                        </label>
                        <input type="file" name="file" id="image-upload" class="hidden">
                
                        <!-- テキスト入力 -->
                        <input type="text" id="message-input" placeholder="RENT CHECKERにメッセージを送る..." name="message"
                            class="w-full pl-10 pr-10 py-3 rounded-xl border-2 border-gray-200 focus:outline-none focus:border-yellow-200" required>
                
                        <!-- 送信アイコン -->
                        <button type="submit" class="absolute inset-y-0 right-0 flex items-center pr-3">
                            <i class="fa-solid fa-paper-plane text-gray-500 hover:text-gray-800"></i>
                        </button>
                    </div>
                </form>                           
            </div>
        </div>
    </div>

    <script>
        const ws = new WebSocket('ws://' + window.location.host + '/ws/chat/{{ room_name }}/');

        // WebSocket メッセージを受信したときに、メッセージリストに追加する
        ws.onmessage = function(event) {
            var messageList = document.getElementById('message-list');
            messageList.innerHTML += event.data;
        }

        // 入力フォームのクリア
        document.getElementById('chat-form').addEventListener('submit', function(event) {
            setTimeout(function() {
                // 送信後、1秒後にフィールドをクリア
                document.getElementById('message-input').value = '';
            }, 1000);  // 1000ms = 1秒の遅延
        });



        // 画像アップロードの非同期処理
        // document.getElementById('image-upload-form').onsubmit = async function(event) {
        //     event.preventDefault();  // フォームの通常の送信を防止

        //     let formData = new FormData(this);  // フォームデータを収集

        //     const response = await fetch(this.action, {
        //         method: 'POST',
        //         body: formData,  // フォームデータをリクエストの本文に含める
        //     });

        //     const result = await response.json();  // レスポンスをJSON形式で受け取る

        //     if (result.status === 'success') {
        //         alert('画像がアップロードされました。');

        //         // 画像を表示する要素を作成してページに追加
        //         const imageElement = document.createElement('img');
        //         imageElement.src = result.image_url;  // サーバーから返された画像のURLを設定
        //         imageElement.alt = "Uploaded Image";
        //         imageElement.classList.add('uploaded-image');  // 必要に応じてスタイルを適用

        //         // 画像を表示するコンテナに追加
        //         document.getElementById('uploaded-images-container').appendChild(imageElement);
        //     } else {
        //         alert('エラーが発生しました: ' + result.message);
        //     }
        // }
    </script>
{% endblock main %}
