{% extends "app/base.html" %}
{% load static %}

{% block main %}
  <h2>{{ consultation.title }} by {{ consultation.author.username }}</h2>
  <div>
    <p>チャットURL：<a href="{{ consultation.room_link }}">{{ consultation.room_link }}</a></p>
    <div>
      {% if consultation.file %}
        書類: <img class="" src="{{ consultation.file.url }}" alt="" />
      {% else %}
        書類：アップロードされていません。
      {% endif %}
    </div>
    <p>質問事項：{{ consultation.checklist }}</p>
    <p>投稿日：{{ consultation.created_at }}</p>
  </div>
  {% if user.is_authenticated and consultation.author_id == user.id %}
    <a href="{% url 'consultation_edit' consultation.id %}">編集</a>
  {% endif %}
{% endblock main %}
