{% extends "app/base.html" %}
{% load static %}

{% block main %}
  <div>
    <p>あなたの相談を共有しよう！</p>
    <a href="{% url "consultation_new" %}">新しい相談を共有する</a>
  </div>

  <h2>相談一覧</h2>
  {% if consultations %}
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>チャットURL</th>
          <th>書類</th>
          <th>質問項目</th>
          <th>投稿者</th>
          <th>投稿日</th>
        </tr>
      </thead>
      <tbody>
        {% for consultation in consultations %}
          <tr>
            <th><a href="{% url "consultation_detail" consultation.id %}">{{ consultation.title }}</a></th>
            <th>{{ consultation.title }}</th>
            <th>{{ consultation.room_name }}</th>
            <th>{{ consultation.document }}</th>
            <th>{{ consultation.checklist }}</th>
            <th>{{ consultation.created_at }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>過去にアップロードした書類ははありません。</p>
  {% endif %}
{% endblock main %}
