{% extends "app/base.html" %}
{% load static %}

{% block main %}
  <h2>{{ consultation.title }} by {{ consultation.author.username }}</h2>
  <div>
    <p>チャット名：{{ consultation.room_name }}</p>
    <p>書類：{{ consultation.document }}</p>
    <p>質問事項：{{ consultation.checklist }}</p>
    <p>投稿日：{{ consultation.created_at }}</p>
  </div>
  {% if user.is_authenticated and consultation.author_id == user.id %}
    <a href="{% url 'consultation_edit' consultation.id %}">編集</a>
  {% endif %}
{% endblock main %}
