{% load static%}

<footer class="bg-white border-t">
  <div class="container mx-auto px-8">
    <div class="w-full flex flex-col md:flex-row py-6 text-center">
      <div class="flex-1">
        <a href="{% url 'security_deposit' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・敷金礼金とは</a>
        <a href="{% url 'brokerage_fee' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・仲介手数料について</a>
        <a href="{% url 'before_move' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・入居前に必要なこと</a>
        <a href="{% url 'restoration' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・原状回復とは</a>
        <a href="{% url 'penalty_fee' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・違約金について</a>
        <a href="{% url 'security_deposit' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・保険料について</a>
        <a href="{% url 'security_deposit' %}"
          class="no-underline hover:underline text-gray-800 hover:text-yellow-200 px-6">・あと一つ</a>

      </div>
    </div>
  </div>
</footer>



<footer class="bg-white border-t">
  <div class="container mx-auto px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      <div class="flex-1 mb-6 text-gray-500">
        <a class="text-yellow-200 no-underline hover:no-underline font-bold text-1xl lg:text-3xl" href="/">
          <i class="fa-solid fa-check h-8 inline"></i>
          RENT CHECKER
        </a>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Links</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-yellow-200">FAQ</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-yellow-200">Help</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-yellow-200">Support</a>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-yellow-200">Terms</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-yellow-200">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Team</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="#" class="no-underline hover:underline text-gray-800 hover:text-yellow-200">About Us</a>
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a href="{% url 'contact_form' %}"
              class="no-underline hover:underline text-gray-800 hover:text-yellow-200">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="text-sm">&copy; 2024 iniad.group10.team4</p>
  </div>
</footer>

<!-- JavaScript -->
<script>
  document.getElementById('nav-toggle').onclick = function () {
    var navContent = document.getElementById('nav-content');
    navContent.classList.toggle('hidden');
  };
</script>