{% extends "app/base.html" %}
{% load static %}

{% block main %}
  <h1>Choose your room</h1>
  What chat room would you like to enter?<br>
  <input id="room-name-input" type="text" size="100"><br>
  <input id="room-name-submit" type="button" value="Enter">

  <script>
      document.querySelector('#room-name-submit').onclick = function(e) {
          var roomName = document.querySelector('#room-name-input').value;
          window.location.href = '/sandbox_chat/' + roomName + '/';
      };
  </script>
{% endblock main %}
