{% extends "app/base.html" %}
{% load static %}

{% block nav %}
{% endblock nav %}

{% block main %}
  <!-- ナビゲーションバー -->
  <nav class="fixed w-full z-30 top-0 text-white bg-yellow-200">
    <!-- 左のアイコンとタイトル -->
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4">
      <div class="pl-4 flex items-center">
        <a class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
          <i class="fa-solid fa-check h-8 inline"></i>
          RENTCHECKER
        </a>
      </div>
      <!-- ハンバーガーメニュー -->
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-white-800">
          <i class="fa-solid fa-bars h-8 w-8"></i>
        </button>
      </div>
      <!-- 右のリンク -->
      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <a class="inline-block text-black no-underline py-2 px-4" href="{% url 'login' %}">ログイン</a>
          </li>
          <li class="mr-3">
            <a class="inline-block text-black no-underline py-2 px-4" href="{% url 'signup' %}">新規登録</a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>
{% endblock main %}